@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Noto+Sans:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'Bahnschrift';
    src: local('Bahnschrift'), url(./assets/fonts/BAHNSCHRIFT.TTF) format('truetype');
    font-family: 'Bubblegum';
    src: local('Bubblegum'), url(./assets/fonts/BubblegumSans-Regular.ttf) format('truetype');
  }